@using Spenses.App.Infrastructure
@using Spenses.Shared.Models.Identity
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<MudGrid>
    <MudItem xs="12">
        <MudText Typo="Typo.h5"
                 GutterBottom="true">
            Email
        </MudText>
    </MudItem>
    <MudItem xs="9">
        <MudText>
            The email associated with your account. You use it to log in and receive emails from Spenses.
        </MudText>
    </MudItem>
    <MudItem xs="3">
        <MudSpacer/>
        <MudButton Variant="Variant.Filled"
                   Color="Color.Tertiary"
                   OnClick="ToggleEditMode"
                   StartIcon="@(IsEditing ? Icons.Material.Filled.EditOff : Icons.Material.Filled.Edit)">
            @if (IsEditing)
            {
                <text>Cancel</text>
            }
            else
            {
                <text>Edit</text>
            }
        </MudButton>
    </MudItem>
    <MudItem xs="12">
        <MudForm Model="Request"
                 @ref="FormRef"
                 Validation="@(_validator.ValidateValue())">

            <MudTextField @bind-Value="Request.NewEmail"
                          @ref="EmailTextFieldRef"
                          Label="Email"
                          For="@(() => Request.NewEmail)"
                          Immediate
                          DebounceInterval="250"
                          Required
                          Disabled="!IsEditing"/>
        </MudForm>
    </MudItem>

    @if (IsEditing)
    {
        <MudItem xs="3">
            <MudButton Variant="Variant.Filled"
                       Color="Color.Primary"
                       OnClick="ChangeEmail"
                       Disabled="!ChangeEmailEnabled">
                <MudText>Confirm new email</MudText>
            </MudButton>
        </MudItem>

        <MudItem xs="9">
            @if (MeState.Value.ChangeEmailErrors.Length > 0)
            {
                @foreach (var error in MeState.Value.ChangeEmailErrors)
                {
                    switch (error)
                    {
                        case IdentityErrors.Register.InvalidEmail:
                        case IdentityErrors.Register.InvalidUserName:
                            @InvalidUserNameOrEmailError
                            break;

                        case IdentityErrors.Register.DuplicateEmail:
                        case IdentityErrors.Register.DuplicateUserName:
                            @DuplicateUserNameOrEmailError
                            break;

                        default:
                            @GenericError(MeState.Value.ChangeEmailErrors)
                            break;
                    }
                }
            }

            @if (VerificationEmailSent)
            {
                <MudAlert Severity="Severity.Success">
                    A verification email has been sent to <b>@Request.NewEmail</b>. Once you verify your new email, you can
                    use it to log in.
                </MudAlert>
            }
        </MudItem>
    }
</MudGrid>

@code
{
    private RenderFragment InvalidUserNameOrEmailError => __builder =>
    {
        <MudAlert Severity="Severity.Error">
            The email address you entered is invalid.
        </MudAlert>
    };

    private RenderFragment DuplicateUserNameOrEmailError => __builder =>
    {
        <MudAlert Severity="Severity.Error">
            It looks like you may already have an account with us under this email address. Use your credentials to
            <MudLink Href="@Routes.Identity.Login()">log in.</MudLink>
        </MudAlert>
    };

    private RenderFragment GenericError(string[] errors) => __builder =>
    {
        <MudAlert Severity="Severity.Error">
            <p>
                Unable to change email:
            </p>
            <ul>
                @foreach (var error in errors)
                {
                    <li>@error</li>
                }
            </ul>
        </MudAlert>
    };
}
