@inherits BlazorState.BlazorStateComponent

<Div Margin="Margin.IsAuto.OnX">
    <Card>
        <CardHeader>
            <CardTitle>Members</CardTitle>
        </CardHeader>
        <CardBody>
            <LoadingIndicator Visible="MembersState.MembersRequesting">
                <Table Borderless>
                    <TableHeader>
                        <TableRow>
                            <TableHeaderCell>Name</TableHeaderCell>
                            <TableHeaderCell>Contact Email</TableHeaderCell>
                            <TableHeaderCell>Default Split %</TableHeaderCell>
                            <TableHeaderCell>Actions</TableHeaderCell>
                        </TableRow>
                    </TableHeader>
                    <TableBody>
                        @foreach (var member in MembersState.Members)
                        {
                            <TableRow>
                                <TableRowCell>
                                    @member.Name
                                </TableRowCell>
                                <TableRowCell>
                                    @member.ContactEmail
                                </TableRowCell>
                                <TableRowCell>
                                    <samp>@($"{member.DefaultSplitPercentage:P2}")</samp>
                                </TableRowCell>
                                <TableRowCell TextAlignment="TextAlignment.End">
                                    <Tooltip Text="Edit" Inline>
                                        <Button Type="@ButtonType.Button"
                                                Color="Color.Light"
                                                Size="Size.Small"
                                                Clicked="@(args => OnEditClicked(args, member.Id))">
                                            <Icon Name="IconName.Edit"/>
                                        </Button>
                                    </Tooltip>
                                    <Tooltip Txt="Delete" Inline>
                                        <Button Type="@ButtonType.Button"
                                                Color="Color.Light"
                                                Size="Size.Small"
                                                Clicked="@(args => OnDeleteClicked(args, member))">
                                            <Icon Name="IconName.Delete"/>
                                        </Button>
                                    </Tooltip>
                                </TableRowCell>
                            </TableRow>
                        }
                    </TableBody>
                </Table>
                <Button Type="@ButtonType.Submit"
                        Color="Color.Primary"
                        Clicked="AddMember">
                    <Icon Name="IconName.Add"
                          Margin="Margin.Is2.FromEnd"/>
                    Add member
                </Button>
            </LoadingIndicator>
        </CardBody>
    </Card>
</Div>
