@using Spenses.Client.Web.Infrastructure
@using Spenses.Application.Models.Payments
@using System.Globalization
<Row>
    <Column ColumnSize="ColumnSize.Is12">
        <Card Margin="@ThemeStyles.CardMargin" Shadow="@ThemeStyles.CardShadow">
            <CardBody>
                <Row>
                    <Column ColumnSize="ColumnSize.Is8.OnTablet">
                        <Row>
                            <Column ColumnSize="ColumnSize.IsAuto">
                                <Button Type="ButtonType.Button"
                                        To="#"
                                        Color="Color.Primary"
                                        Margin="Margin.Is2.FromBottom"
                                        Clicked="OnAddPaymentClicked">
                                    <Icon Name="IconName.Add" Margin="Margin.Is2.FromEnd"/>
                                    Add Payment
                                </Button>
                            </Column>
                            <Column ColumnSize="ColumnSize.IsAuto">
                                <Div Flex="Flex.AlignItems.Start">
                                    <Addons>
                                        <Addon AddonType="AddonType.Start">
                                            <AddonLabel>Dates</AddonLabel>
                                        </Addon>
                                        <Addon AddonType="AddonType.Body">
                                            <DatePicker TValue="DateOnly?"
                                                        Dates="FilterDates"
                                                        InputMode="DateInputMode.Date"
                                                        SelectionMode="DateInputSelectionMode.Range"
                                                        DatesChanged="OnDatesFilterChanged"
                                                        Placeholder="Select a date range"/>
                                        </Addon>
                                    </Addons>
                                </Div>
                            </Column>
                        </Row>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is4.OnTablet">
                        <Div TextAlignment="TextAlignment.End">
                            <Button Type="ButtonType.Button"
                                    Color="Color.Warning"
                                    Margin="Margin.Is2.FromBottom"
                                    Clicked="@ClearFilters">
                                <Icon Name="IconName.Clear" Margin="Margin.Is2.FromEnd"/>
                                Clear filters
                            </Button>
                        </Div>
                    </Column>
                </Row>
                <Row>
                    <DataGrid @ref="DataGridRef"
                              TItem="PaymentDigest"
                              Data="Payments.Items"
                              ReadData="OnDataGridReadData"
                              SortChanged="OnDataGridSortChanged"
                              Responsive
                              Sortable
                              Striped
                              Virtualize
                              LoadingTemplate="_loadingIcon"
                              EmptyTemplate="_loadingIcon"
                              TotalItems="Payments.TotalCount"
                              SortMode="DataGridSortMode.Single"
                              VirtualizeOptions="VirtualizeOptions">
                        <DataGridColumns>
                            <DataGridColumn TItem="PaymentDigest"
                                            Field="@nameof(PaymentDigest.Date)"
                                            Caption="Date"
                                            DisplayFormat="{0:yyyy-MM-dd}"
                                            SortDirection="SortDirection.Descending"/>
                            <DataGridNumericColumn TItem="PaymentDigest"
                                                   Field="@nameof(PaymentDigest.Amount)"
                                                   Caption="Amount"
                                                   TextAlignment="TextAlignment.End">
                                <DisplayTemplate>
                                        <samp>@($"{context.Amount:C}")</samp>
                                </DisplayTemplate>
                            </DataGridNumericColumn>
                            <DataGridColumn TItem="PaymentDigest"
                                            Field="@nameof(PaymentDigest.PaidByMemberName)"
                                            Caption="Paid by"/>
                            <DataGridColumn TItem="PaymentDigest"
                                            Field="@nameof(PaymentDigest.Note)"
                                            Caption="Note"
                                            Sortable="false"/>
                            <DataGridColumn TItem="PaymentDigest"
                                            Field="@nameof(PaymentDigest.Id)"
                                            Caption="Action"
                                            TextAlignment="TextAlignment.End"
                                            Width="140px"
                                            Sortable="false">
                                <DisplayTemplate>
                                    <Tooltip Text="Edit" Inline>
                                        <Button Size="Size.Small" Clicked="@(args => OnEditPaymentClicked(args, context.Id))">
                                            <Icon Name="IconName.Edit"/>
                                        </Button>
                                    </Tooltip>
                                    <Tooltip Text="Delete" Inline>
                                        <Button Size="Size.Small" Clicked="@(args => OnDeletePaymentClicked(args, context))">
                                            <Icon Name="IconName.Delete"/>
                                        </Button>
                                    </Tooltip>
                                </DisplayTemplate>
                            </DataGridColumn>
                        </DataGridColumns>
                    </DataGrid>
                </Row>
            </CardBody>
        </Card>
    </Column>
</Row>

@code {
    RenderFragment _loadingIcon = @<img src="/brand-logo.png" style="width:32px; height:32px"/>;
}
