@page "homes"
@model IndexModel
@{
  ViewData["Title"] = "Homes";
}

<h1 class="title">Homes</h1>
<p>
  <a asp-page="Create">Create New</a>
</p>
<table class="table">
  <thead>
  <tr>
    <th>
      <label asp-for="Homes[0].Name" class="is-hidden">Name</label>
    </th>
    <th>
      <label asp-for="Homes[0].Description" class="is-hidden">Description</label>
    </th>
    <th/>
  </tr>
  </thead>
  <tbody>
  @foreach (var item in Model.Homes)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.Name)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Description)
      </td>
      <td>
        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
      </td>
    </tr>
  }
  </tbody>
</table>
