@using Spenses.Client.Web.Features.Homes
@using Spenses.Client.Web.Infrastructure
@using Spenses.Application.Models.Homes
@using Spenses.Client.Web.Components.Homes
@using Spenses.Client.Web.Store.Homes
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<Bar Breakpoint="Breakpoint.Desktop" NavigationBreakpoint="Breakpoint.Tablet" ThemeContrast="ThemeContrast.Dark"
     Mode="BarMode.VerticalInline" CollapseMode="BarCollapseMode.Small">
    <BarToggler/>
    <BarBrand>
        <BarItem>
            <BarIcon IconName="_customIcon"/>
            Spenses
        </BarItem>
    </BarBrand>
    <BarMenu>
        <BarStart>
            <BarItem>
                @if (HomesState.Value.HomesRequesting)
                {
                    <BarLabel>Loading...</BarLabel>
                }
                else
                {
                    @foreach (var home in HomesState.Value.Homes)
                    {
                        <BarDropdown Visible>
                            <BarDropdownToggle>
                                <BarIcon IconName="IconName.Home" IconSize="IconSize.Small" Margin="Margin.Is1.FromEnd"/>
                                @home.Name
                            </BarDropdownToggle>
                            <BarDropdownMenu>
                                <BarDropdownItem To="@(Routes.Homes.Dashboard(home.Id))" Match="Match.All">
                                    <BarIcon IconName="IconName.Dashboard"/>
                                    Dashboard
                                </BarDropdownItem>
                                <BarDropdownItem To="@(Routes.Homes.Expenses(home.Id))" Match="Match.All">
                                    <BarIcon IconName="IconName.Receipt"/>
                                    Expenses
                                </BarDropdownItem>
                                 <BarDropdownItem To="@(Routes.Homes.Payments(home.Id))" Match="Match.All">
                                     <BarIcon IconName="IconName.CreditCard" />
                                     Payments
                                 </BarDropdownItem>
                                <BarDropdownItem To="@(Routes.Homes.Insights(home.Id))" Match="Match.All">
                                    <BarIcon IconName="IconName.Lightbulb"/>
                                    Insights
                                </BarDropdownItem>
                                <BarDropdownItem To="@(Routes.Homes.Settings(home.Id))" Match="Match.All">
                                    <BarIcon IconName="IconName.Wrench"/>
                                    Settings
                                </BarDropdownItem>
                            </BarDropdownMenu>
                        </BarDropdown>
                    }
                }
            </BarItem>
        </BarStart>
        <BarEnd>
            <BarItem Margin="Margin.Is2.OnAll">
                <Button Clicked="ShowCreateHomeModal" Color="Color.Primary" Block>
                    <Icon Name="IconName.PlusCircle"/>
                    New home
                </Button>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>

@code
{
    [Inject]
    private IState<HomesState> HomesState { get; set; } = null!;

    [Inject]
    private IDispatcher Dispatcher { get; set; } = null!;

    [Inject]
    public IModalService ModalService { get; set; } = null!;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Dispatcher.Dispatch(new HomesRequestedAction());
    }

    private Task ShowCreateHomeModal()
    {
        return ModalService.Show<CreateHomeModal>();
    }

    RenderFragment _customIcon = @<img src="/brand-logo.png" style="width:32px; height: 32px"/>;
}
